<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>quickForms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // Generate token
            $('#generateTokenBtn').click(function() { generateToken(); });
            // Copy token
            $('#copyTokenBtn').click(function() { copyToken(); });
        });

        function generateToken() {
            var username = $('#username').val();
            var password = $('#password').val();
            var authRequest = { username: username, password: password };

            $.ajax({
                url: '/authenticate',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(authRequest),
                success: function(data) {
                    var token = 'Bearer ' + data.jwt;
                    $('#tokenValue').val(token);
                    $('#copyTokenBtn').prop('disabled', false);
                    $('#messageArea2').text('Token Generated!').show();
                },
                error: function(response) {
                    $('#messageArea2').text('Failed to generate token: incorrect username/password!').show();
                }
            });
        }

        function copyToken() {
            var copyText = document.getElementById("tokenValue");
            copyText.select();
            document.execCommand("copy");
            alert("Copied the token: " + copyText.value);
        }
    </script>
</head>
<body>
<header class="bg-info text-white py-3">
    <div class="container d-flex justify-content-between">
        <h1>quickForms</h1>
        <div>
            <a href="/register" class="btn btn-primary">Register</a>
        </div>
    </div>
</header>

<div class="container mt-4">
    <div id="messageArea2" class="alert alert-warning" style="display: none;"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <button id="generateTokenBtn" class="btn btn-success btn-block">Generate New Token</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" id="tokenValue" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button id="copyTokenBtn" class="btn btn-outline-secondary btn-block" disabled>Copy</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
